@page "/punctuationtask"
@inherits PunctuationTaskBase
@inject IJSRuntime JS

@if (!showSummary)    
{

    <h1>Skyrybos Užduotis</h1>
   

    <div class="score-label">
        <h2>Taškai: @score</h2>
    </div>

    <Timer @ref="timer" SecondsToRun="20" TimerOut="TimerOut" />

    /*<div class="sentence-container">
        @for (int i = 0; i <= userTextChars.Count; i++)
        {
            <span class="char-span @(gapPosition == i ? "gap" : "")"
                  @key="i"
                  @onDragOver="(e) => OnDragOver(e, i)"
                  @onDrop="(e) => OnDrop(e, i)"
                  @onDragLeave="(e) => OnDragLeave(e, i)">
                @if (i < userTextChars.Count)
                {
                    @userTextChars[i]
                }
            </span>
        }
    </div>*/

     
    <div class="drop-zone">
        @for (int i = 0; i < userText.Length; i++)
        {
            <span class="letter" id="letter-@i">@userText[i]</span>
        }
    </div>

    /*@onDragStart="(e) => OnDragStart(e, mark)"*/
   

    <div class="task-box" style="height: 300px;">
        <textarea @bind="userText" class="edit-textarea"></textarea>
    </div>

    <div>
        <h4>Skyrybos Ženklai (Punctuation Marks):</h4>
        <div class="drag-container">
            @foreach (var mark in tasks[currentTaskIndex].Options)
            {
                <div class="draggable"
                     draggable="true" 
                data-mark ="@mark">
                    
                    @mark
                </div>
            }
        </div>
    </div>

    @if (!string.IsNullOrEmpty(explanationMessage))
    {
        <p>@correctAnswer</p>
        <p>@explanationMessage</p>
        <button class="next-button" @onclick="() => showSummary = true">Grįžti į apžvalgą</button>
    }

    @if (isCorrect)
    {
        <button class="next-button" @onclick="NextTask">Kita užduotis</button>
    }
    else
    {
        <button class="next-button" @onclick="CheckPunctuation">Pateikti</button>
        <button class="next-button" @onclick="SkipTask">Praleisti</button>
    }

    <div class="feedback">
        @if (feedbackMessage != null)
        {
            <p class="@feedbackClass">@feedbackMessage</p>
        }
    </div>
}
else
{
    <div class="container">
        <h1>Užduoties apžvalga</h1>
        <p>Teisingi atsakymai: @correctAnswersCount / @tasks.Count</p>

        <div class="summary-button-container">
            @for (int i = 0; i < tasks.Count; i++)
            {
                var index = i;
                <button class="summary-button @(taskStatus[i] ? "green" : "red")" @onclick="() => GoToTask(index)">
                    @(i + 1)
                </button>
            }
        </div>

        <button class="next-button" @onclick="RestartTasks">Bandyti dar kartą</button>
    </div>
}
